<div class="container">
    <div class="list-group">
        <a href="@Url.Action("index", "tasks")" class="list-group-item list-group-item-action">Task 16 - Change Button Color On MouseOver In Asp.Net</a>
        <a href="@Url.Action("addsubinteger", "tasks")" class="list-group-item list-group-item-action">Task 17 - Addition or Subtraction based on selection</a>
        <a href="@Url.Action("listbox", "tasks")" class="list-group-item list-group-item-action">Task 18 - Show image and price based on the item selection</a>
        <a href="@Url.Action("index", "userpayment")" class="list-group-item list-group-item-action">Task 19 - User Payment Form Validation</a>
    </div>
</div>