body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.custom-button {
    background-color: green;
    color: white
}
.custom-button:hover {
    background-color: yellow !important;
}
.field-validation-error{
    color: red;
}
.cmx-5{
    margin-right: 30%;
    margin-left: 30%;
}